/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.card__icon-button{
  border: none;
  background-color: transparent;
  padding: 0 9px 5px 0;
  margin: 0 0 30px 0;
  cursor: pointer;
}

.card__icon-button:focus{
  outline: none;
}

.card__icon-button:focus-visible{
  outline: 2px solid var(--color-additional);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvh;
  background-image: var(--background-gradient);
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  padding: 100px 0;
}

.header {
  border: var(--border);
  background-color: var(--color-main);
  width: clamp(375px, 70vw, 700px);
  margin-bottom: 96px;
  padding: 128px 0 131px 0;
}
.header__tag {
  font-family: var(--font-additional);
  font-weight: 400;
  font-size: 65px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.header__subtitle {
  font-family: var(--font-additional);
  font-weight: 400;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(375px, 70vw, 700px);
  justify-content: center;

}


.card {
  border: var(--border);
  background-color: var(--color-main);
  font-family: var(--font-main);
  font-weight: 410;
  font-size: var(--font-size-main);
  line-height: 21px;
  letter-spacing: 0%;
  font-style: normal;
}

.card__image-container{
  position: relative;
}

.card__title {
  font-family: var(--font-main);
  font-weight: 715;
  font-size: var(--font-size-main);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.cards {
  display: flex;
  gap: 51px;
  flex-direction: column;
}

.card__description{
  display: flex;
  text-align: left;
  padding: 23px 25px 0 25px;
  line-height: 21px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-main);
  border: var(--border);
  cursor: pointer;
  padding: 15px 20px;
  font-family: var(--font-additional);
  font-size: var(--font-size-additional);
  color: var(--color-additional);
  transition: box-shadow 0.3s ease;
  position: relative;
  justify-content: center;
  margin: 0px 20px 26px 0px;

}

.button .is-liked{
  padding: 9px 17px 9px 17px;
}


.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-additional);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
  color: var(--color-main);
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-additional);
}

.button:hover{
  color:var(--color-main);
}

.save{
 display: flex;
 justify-content: center;
}

.like-icon {
  position: relative;
  width: 27px;
  height: 24px;
  overflow: visible;
}

.sparks {
  opacity: 0;
}

.card__content{
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.main-button {
  display: flex;
  justify-content: flex-end;
  margin: 0px 5px 0px 10px;
  border: none;
  gap: 9px;

}

.card__like-button {
  font-family: var(--font-additional);
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-additional);
  line-height: 90%;
  letter-spacing: 0%;
  background-color: var(--color-main);
  height: 38px;
  min-width: 130px;
  padding: 0;
}

.card__label{
  position: absolute;
  top: 28px;
  right: 24px;
  font-size: var(--font-size-additional);
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  font-family: var(--font-additional);
  mix-blend-mode: hard-light;
  color: var(--color-additional);
  opacity: 0.5;
}


@supports (-webkit-text-stroke: 1px var(--color-main)) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-main);
    text-shadow: none;
  }
}

.button__text{
  padding: 4px 15px 0 0;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--color-main);
}

.save-icon{
  position: relative;
  z-index: 1;
  background-color: var(--color-main);
  color: var(--color-additional);
  mix-blend-mode: difference;
}

.save-icon:hover{
  color: var(--color-main);
}

.last-button{
  margin: 49px 0 0 0;
  font-family: var(--font-additional);
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-additional);
  line-height: 90%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 15px;
}

.dialog{
  display: none;
  background-color: var(--color-main);
  max-width: 353px;
}

.dialog[open]{
  overflow: visible;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 25px
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content{
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: var(--font-additional);
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-additional);
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  gap: 20px;
}

.button-save{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.button-dialog{
  margin: 0;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.big-icon{
  overflow: visible;
  width: 39px;
  height: 39px;
}

@media (width <= 375px){
  .page{
    margin: 0;
    padding: 0;
  }

  .header{
    margin: 100px 0;
    padding: 120px 0;
  }

  .header__tag{
     font-size: 49px;
  }

  .header__subtitle{
    font-size: var(--font-size-additional);
  }

  .card__image{
    object-fit: cover;
    width: 100%;
  }

  .cards{
    gap: 49px;
  }

  .card__title{
    line-height: 120%;
  }

  .last-button{
    margin-top: 52px;
    flex-direction: column;
    padding: 13px 0px 13px 18px;
  }

  .save-icon{
    transform: translate(-10px, 2px);
    width: 28px;
    height: 28px;
  }

  .dialog{
    max-width: 341px;
    padding: 30px 40px;
  }
  
  .card__label{
    top: 28px;
    right: 25px;
  }
}