/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter', sans-serif;
    --font-additional: 'Press Start 2P', sans-serif;
    --color-main: #fff;
    --color-additional: #000;
    --font-size-main: 18px;
    --font-size-additional: 14px;
    --border: 2px solid black;
    --background-gradient: repeating-linear-gradient(0deg, rgb(231 231 231 / 1) 0px, rgb(231 231 231 / 1) 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(90deg, rgb(231 231 231 / 1) 0px, rgb(231 231 231 / 1) 2px, transparent 2px, transparent 4px),
        linear-gradient(180deg, rgb(231 231 231 / 1) 0%, rgb(26 26 26 / 1) 100%);
}